* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

li, ul, ol {
  list-style: none;
}

ul.color > li, svg {
  cursor: pointer;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  padding: 5px;
  transition: transform 0.3s;
}

.icon.selected {
  fill: red;
  transform: scale(1.1);
}


#canvas {
}

.toolBar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.color {
  display: flex;
  align-items: center;
}

.color li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 8px;
  border: 1px solid #ccc;
  transition: all 0.3s;
}

.color .selected {
  transform: scale(1.2);
}

.color input {
  height: 20px;
  width: 20px;
  display: none;
}

.color:last-child #plus {
  width: 20px;
  height: 20px;
  padding: 0;
}
